body {
    background-color: red;
}


#posts,
th,
td {
  table-layout: fixed; 
  border: 1px solid;
  width: 100%;
  text-align: center;
}


 tr { 
  width: 95vw;
  height: 20vh;
}

table, img {
    width: 25vw;
    height: 20vh;
}